html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.navShift{
    position:absolute;
    right:5%;
}

.appTitle{
    color:#455A64;
    font-size:20px;
    font-style:bold;
}

.imgSize{
    width:225px;
    height:450px;
    text-align:center;
    margin-top:-8%;
    margin-right:10%;
    margin-bottom:20%;
}

.title{
    color:white;
    font-size:30px;
    margin-left:12%;
    margin-top:5%;
}

.circleImg{
    width:200px;
    height:200px;
    margin-top:3%;
    margin-right:5%;
    text-align: center;
}

.paragraph{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    font-style:normal;
    color:white;
}

.nameTags{
    display:inline-block;
    margin-top:5%;
    margin-right:5%;
    text-align:center;
}

.button {
    background-color: Transparent !important;
    background-repeat:no-repeat;
    border-color:white;;
    cursor:pointer;
    overflow: hidden;
    color:white!important;
}

.icons{
   font-size:90px!important;
   color:white;
}
